body {
  font-family: IRANSans, "Times New Roman", Times, serif;
  font-weight: normal;
}

a {
  color: #2a9ef5;
  &:hover {
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

input[type=checkbox] + label, input[type=radio] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type=checkbox], input[type=radio] {
  display: none;
}

input[type=checkbox] + label:before, input[type=radio] + label:before {
  content: "\2714";
  border: 2px solid #7e7e7e;
  border-radius: 3px;
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
  margin-left: 8px;
  margin-bottom: 2px;
  font-size: 12px;
}

input[type=checkbox] + label:active:before, input[type=radio] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before, input[type=radio]:checked + label:before {
  background-color: #f8a125;
  border-color: #f8a125;
  color: #fff;
}

input[type=checkbox]:disabled + label:before, input[type=radio]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before, input[type=radio]:checked:disabled + label:before {
  transform: scale(1);
  background-color: #ffea85;
  border-color: #ffea85;
}

.btn {
  font-size: 14px;
}

.background-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 0;
  background-size: 100% 100%;

  &.back1 {
    background-image: url("../image/back1.jpg");

  }
  &.back2 {
    background-image: url("../image/back2.jpg");
  }

  &.blue {
    background-color: #007bff;
  }

  &.green {
    background-color: #13cb6e;
  }

  &.red {
    background-color: #DC2344;
  }
}

.container-filter {
  box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.18);
  background-color: #ffffff;
  padding: 15px 0 15px 0;
  .icon-filter {
    font-size: 17px;
    position: relative;
    top: 3px;
  }
  .icon-left-arrow {
    position: relative;
    top: 3px;
    margin-right: 5px;
    font-size: 17px;
  }
  .filter-selected-tags {
    margin-top: 5px;
    .btn-tags {
      border-radius: 3px;
      background-color: #f2f2f2;
      height: 30px;
      font-size: 11px;
      font-weight: normal;
      color: #9b9b9b;
      margin-top: 5px;
      margin-left: 7px;
      .icon {
        position: relative;
        top: 1px;
        margin-right: 10px;
        font-size: 9px;
      }
      span {
        display: inline-block;
      }
    }
  }
}

.container-last-order {
  box-shadow: inset 0 0 21px 0 rgba(0, 0, 0, 0.14);
  background-color: #f8f8f8;
  padding: 25px 0 25px 0;

  .last-order-mobile-number {
    font-size: 17px;
    color: #f8a125;
    margin-bottom: 17px;

    @media (max-width: 767px) {
      margin-bottom: 5px;
      letter-spacing: -0.5px;
    }
    @media (max-width: 374px) {
      font-size: 11px;
    }
    @media (min-width: 375px) AND (max-width: 767px) {
      font-size: 13px;
    }
  }

  .last-order-package-name {
    font-size: 22px;
    font-weight: bold;
    color: #7e7e7e;
    margin-bottom: 16px;

    @media (max-width: 374px) {
      font-size: 10px;
      margin-bottom: 5px;
    }
    @media (min-width: 375px) AND (max-width: 767px) {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }

  .last-order-detail {
    .detail-text {
      display: inline-block;
      font-size: 17px;
      color: #7e7e7e;
      margin-left: 38px;

      div {
        display: inline-block;
      }

      @media (max-width: 767px) {
        margin-left: 10px;
      }
      @media (max-width: 374px) {
        font-size: 9px;
      }
      @media (min-width: 375px) AND (max-width: 767px) {
        font-size: 13px;
      }

      .icon {
        font-size: 20px;
        color: #7e7e7e;
        margin-left: 5px;
        position: relative;
        top: 2px;
        @media (max-width: 767px) {
          font-size: 12px;
        }
      }
    }
  }

  .btn-success {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

    @media (max-width: 374px) {
      font-size: 10px;
    }

    @media (min-width: 375px) AND (max-width: 767px) {
      font-size: 12px;
    }
  }
}

.container-banner {
  margin: 25px 0;
  @media (max-width: 767px) {
    margin: 15px 0;
  }
  .banner-link {
    border-radius: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffbe00;

    .banner-text-content {
      padding: 24px;
      @media (max-width: 767px) {
        padding: 15px;
      }
      .banner-title {
        font-size: 26px;
        font-weight: bold;
        color: #373737;
        margin-bottom: 19px;
        @media (max-width: 767px) {
          margin-bottom: 7px;
        }
        @media (max-width: 374px) {
          font-size: 10px;
        }
        @media (min-width: 375px) AND (max-width: 767px) {
          font-size: 13px;
        }
      }
      .banner-desc {
        font-size: 15px;
        font-weight: normal;
        color: #373737;
        @media (max-width: 374px) {
          font-size: 9px;
        }
        @media (min-width: 375px) AND (max-width: 767px) {
          font-size: 11px;
        }
      }
    }

    .banner-img {
      padding-left: 10px;
    }
  }
}

.container-service-list {
  .service-list-wrapper {
    border-radius: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .service-list-item {
    padding: 35px 22px;
    background-color: #ffffff;
    border-bottom: 1px solid #dbdbdb;

    @media (max-width: 767px) {
      padding: 20px 15px;
    }

    &.no-border {
      border-bottom: none;
    }

    &:hover, &:focus {
      background-color: #dbdbdb;
    }

    .item-package-name {
      font-size: 22px;
      font-weight: bold;
      color: #373737;
      margin-bottom: 16px;

      @media (max-width: 374px) {
        font-size: 10px;
        margin-bottom: 5px;
      }
      @media (min-width: 375px) AND (max-width: 767px) {
        font-size: 13px;
        margin-bottom: 10px;
      }
    }

    .item-detail {
      .detail-text {
        display: inline-block;
        font-size: 17px;
        color: #7e7e7e;
        margin-left: 38px;

        div {
          display: inline-block;
        }

        @media (max-width: 767px) {
          margin-left: 10px;
        }
        @media (max-width: 374px) {
          font-size: 6px;
        }
        @media (min-width: 375px) AND (max-width: 767px) {
          font-size: 8px;
        }

        .icon {
          font-size: 20px;
          color: #7e7e7e;
          margin-left: 5px;
          position: relative;
          top: 2px;
          @media (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
    }

    .item-price {
      font-size: 24px;
      font-weight: bold;
      color: #f8a125;

      @media (max-width: 374px) {
        font-size: 10px;
      }
      @media (min-width: 375px) AND (max-width: 767px) {
        font-size: 13px;
      }
    }
  }

}

.container-order-service {
  margin: 35px 0;
  @media (max-width: 767px) {
    margin: 25px 0;
  }

  .order-service-content {
    border-radius: 6px;
    box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    padding: 30px 15px 15px 15px;

    @media (max-width: 767px) {
      padding: 25px 15px 10px 15px;
    }

    hr {
      border-top: 1px solid #e4e4e4;
      margin: 25px -15px 15px -15px;

      @media (max-width: 767px) {
        margin: 20px -15px 10px -15px;
      }
    }

    .order-service-package-name {
      font-size: 30px;
      font-weight: bold;
      color: #373737;
      margin-bottom: 16px;

      @media (max-width: 767px) {
        font-size: 18px;
        margin-bottom: 10px;
      }
    }

    .order-service-detail {
      margin-bottom: 18px;
      .detail-text {
        display: inline-block;
        font-size: 17px;
        color: #7e7e7e;
        margin-left: 38px;

        div {
          display: inline-block;
        }

        @media (max-width: 767px) {
          margin-left: 10px;
        }
        @media (max-width: 374px) {
          font-size: 10px;
        }
        @media (min-width: 375px) AND (max-width: 767px) {
          font-size: 12px;
        }

        .icon {
          font-size: 20px;
          color: #7e7e7e;
          margin-left: 5px;
          position: relative;
          top: 2px;
          @media (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
    }

    .order-service-desc {
      font-size: 16px;
      font-weight: normal;
      line-height: 1.76;
      color: #7e7e7e;
      margin-bottom: 34px;
      @media (max-width: 767px) {
        font-size: 12px;
        margin-bottom: 15px;
      }
    }

    .order-service-invitation-code {
      font-size: 16px;
      font-weight: bold;
      color: #3cb9e2;
      position: relative;
      display: inline-block;
      @media (max-width: 767px) {
        font-size: 13px;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: -3px;
        display: block;
        border-bottom: 1px dashed #3cb9e2;
        width: 100%;
      }
    }

    .order-service-price {
      font-size: 27px;
      font-weight: bold;
      color: #f8a125;
      @media (max-width: 767px) {
        font-size: 23px;
      }
    }

    .order-service-currency {
      font-size: 16px;
      font-weight: bold;
      color: #f8a125;
      @media (max-width: 767px) {
        font-size: 13px;
      }
    }
  }

  .order-service-phone-number {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    background-color: #ffffff;
    padding: 9px 15px 5px 15px;
    margin-top: 40px;
    margin-bottom: 25px;
    display: block;

    @media (max-width: 767px) {
      margin-top: 25px;
      margin-bottom: 15px;
    }

    .phone-number {
      text-align: center;
      font-size: 30px;
      font-weight: normal;
      color: #292724;
      display: block;
      cursor: pointer;
      @media (max-width: 767px) {
        font-size: 22px;
      }
    }
  }

  .order-service-buy {
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;

    @media (max-width: 767px) {
      font-size: 16px;
      padding: 10px 0;
    }
  }

}

.container-modal {

  @media (max-width: 767px) {
  }

  @media (max-width: 374px) {
  }

  @media (min-width: 375px) AND (max-width: 767px) {
  }

  .modal-content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: auto;
    display: table;

    @media (min-width: 768px) {
      max-width: 500px;
      margin: 0 auto;
    }

    .modal-align-middle {
      display: table-cell;
      vertical-align: middle;
    }

    &.with-keyboard-layout {
      /*height: 70vh;
      @media (max-height: 479px) {*/
      height: calc(100vh - 148px);
      display: block;
      position: relative;
      transform: translateY(-50%);
      top: 50%;
      /*}*/

      .modal-align-middle {
        /*@media (max-height: 479px) {*/
        display: block;
        transform: translateY(-50%);
        top: 50%;
        position: relative;
        /*}*/
      }
    }

    .modal-contents {
      border-radius: 3px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      padding: 15px;

      .modal-content-header {
        .btn-modal-close {
          background-color: #f0f0f0;
          border-radius: 100%;
          border: none;
          outline: none;
          cursor: pointer;
          display: inline-block;
          padding: 1px 8px;

          &:hover {
            background: #dddddd;
          }
          .icon {
            color: #373737;
            font-size: 9px;
          }
        }
      }

      .modal-content-body {
        .modal-img {
          width: 75px;
        }
        .body-title {
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          line-height: 1.06;
          color: #373737;
          margin-top: 20px;
          margin-bottom: 20px;
        }
        .body-text {
          font-size: 12px;
          font-weight: normal;
          line-height: 1.7;
          text-align: center;
          color: #373737;
          margin: 15px 0;
          span {
            font-weight: bold;
            font-size: 13px;
          }

          &.gray {
            color: #939191;
            span {
              color: #373737;
            }
          }
        }
        .body-use-point {
          border-radius: 4px;
          background-color: rgba(249, 175, 25, 0.15);
          margin: 15px 0;
          padding: 7px 10px;

          .btn-orange {
            font-size: 12px;
            color: #f8a125;
            background-color: transparent;
            padding: 0;

            .text {
              position: relative;
              bottom: 3px;
            }
            .icon {
              margin-left: 7px;
              font-size: 19px;
              position: relative;
              top: 2px;
            }
          }
          .use-point-num {
            font-size: 13px;
            font-weight: bold;
            color: #f8a125;
          }
        }
        .body-order-info {
          margin: 7px 0;
          .item {
            border-bottom: 1px solid #e4e4e4;
            padding: 10px 0;
            &:last-child {
              border-bottom: none;
            }
            .item-title {
              font-size: 11px;
              font-weight: normal;
              color: #373737;
            }
            .item-value {
              font-size: 13px;
              font-weight: normal;
              text-align: left;
              color: #373737;
              .item-price {
                font-size: 17px;
                font-weight: bold;
                color: #f8a125;
              }
              .item-currency {
                font-size: 12px;
                font-weight: bold;
                color: #f8a125;
              }
            }
          }
        }

        .body-coupon {
          border-radius: 4px;
          background-color: #f0f9ff;
          margin: 15px 0 20px 0;
          padding: 7px 10px;

          .coupon-link {
            font-size: 12px;
            font-weight: normal;
            color: #3cb9e2;
            position: relative;
            display: inline-block;
            bottom: 3px;

            &:after {
              content: '';
              position: absolute;
              right: 0;
              bottom: -3px;
              display: block;
              border-bottom: 1px dashed #3cb9e2;
              width: 100%;
            }
          }
          .coupon-timer {
            .icon-stopwatch {
              margin-right: 7px;
              color: #3cb9e2;
              font-size: 26px;
              position: relative;
              top: 4px;
            }
            .timer-time {
              font-size: 15px;
              font-weight: normal;
              color: #3cb9e2;
              position: relative;
              bottom: 1px;
            }
          }
        }
        .body-contact-list {
          ul.list-ul {
            padding: 0;
            margin: 0;

            li {
              border-radius: 3px;
              list-style: none;
              margin-top: 7px;
              text-align: left;
              a {
                font-size: 15px;
                font-weight: normal;
                color: #373737;
                position: relative;
                display: block;
                padding: 10px 10px 10px 40px;
                background-color: #f4f4f4;
                &:before {
                  content: '';
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  background-color: #ffffff;
                  border-radius: 100%;
                  border: 1px solid #dcdada;
                  left: 11px;
                  position: absolute;
                }

                &:hover, &:active, &:focus {
                  background-color: #e4e4e4;
                  &:after {
                    content: '';
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    background-color: #41a5f6;
                    border-radius: 100%;
                    border: 1px solid #41a5f6;
                    left: 15px;
                    position: absolute;
                    top: 14px;
                  }
                }
              }
            }
          }
        }

        .body-filter {
          border-radius: 3px;
          background-color: #ffffff;
          border: 1px solid #cbcbcb;
          margin-top: 15px;

          .filter-header {
            padding: 0px 15px 5px 15px;
            border-bottom: 1px solid #cbcbcb;
            .filter-show {
              font-size: 25px;
              color: #373737;
              position: relative;
              top: 5px;
            }
            .header-title {
              font-size: 14px;
              font-weight: normal;
              color: #373737;
              padding-right: 5px;
            }
          }
          .filter-content {
            padding: 15px;
            &.expand {
              display: none;
            }
            .content-operator {
              border-radius: 3px;
              background-color: #ffffff;
              border: 1px solid #cbcbcb;
              text-align: center;

              &.selected {
                border-color: #f5b51e;
                .operator-title {
                  color: #373737;
                }
                .no-select {
                  display: none;
                }
                .selected {
                  display: inline-block;
                }
              }
              .no-select {
                display: inline-block;
              }
              .selected {
                display: none;
              }
              .operator-img {
                padding: 10px;
                img {
                  max-width: 100%;
                }
              }
              .operator-title {
                font-size: 12px;
                font-weight: normal;
                color: #cbcbcb;
                padding: 0 0 7px 0;
              }
            }
            .content-type-charge {
              border-radius: 3px;
              background-color: #ffffff;
              border: 1px solid #cbcbcb;
              text-align: center;

              .type-charge-icon {
                .icon {
                  font-size: 60px;
                  margin: 15px 0;
                  display: inline-block;
                  color: #cbcbcb;

                  &.go-center {
                    position: relative;
                    left: 4px;
                  }
                }
              }
              .type-charge-title {
                font-size: 12px;
                font-weight: normal;
                color: #cbcbcb;
                padding: 0 0 7px 0;
              }

              &.selected {
                border-color: #f5b51e;
                .type-charge-title {
                  color: #373737;
                }
                .type-charge-icon {
                  .icon {
                    color: #f5b51e;
                  }
                }
              }
            }
            .filter-checkbox {
              .checkbox-label {
                display: block;
                &:first-child {
                  border-bottom: 1px solid #cbcbcb;
                }
                &.no-border {
                  border-bottom: none;
                }
                .checkbox-title {
                  font-size: 13px;
                  font-weight: normal;
                  color: #373737;
                }
              }
            }
          }
        }
      }

      .modal-content-footer {
        margin-top: 30px;
        .btn {
          height: 40px;
          border-radius: 2px;
          font-weight: bold;
        }
      }
    }

  }

  .keyboard-layout {
    /*height: 30vh;*/
    background-color: #ffffff;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);

    /*@media (max-height: 479px) {*/
    height: 148px;
    /*}*/

    @media (min-width: 768px) {
      max-width: 500px;
      margin: 0 auto;
    }

    /*@media (max-height: 479px) {*/
    position: fixed;
    width: 100%;
    bottom: 0;
    /*}*/

    .row {
      /*height: 30vh;
      @media (max-height: 479px) {*/
      height: 148px;
      /*}*/
    }

    .layout-key {
      width: 100%;
      height: 100%;
      border: none;
      outline: none;
      background-color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      color: #292724;

      &:focus {
        background-color: #ffffff;
      }

      &:active {
        -webkit-animation: unfocusKeyMobile 0.5s linear;
        -o-animation: unfocusKeyMobile 0.5s linear;
        animation: unfocusKeyMobile 0.5s linear;
      }

      @keyframes unfocusKeyMobile {
        0% {
          background-color: #f0f0f0;
        }
        50% {
          background-color: #f0f0f0;
        }
        100% {
          background-color: #ffffff;
        }
      }

    }
  }
}

.container-loading {
  text-align: center;
  background-color: #fafaf8;
  height: 100vh;

  .loading-content {
    text-align: center;
    transform: translateY(50%);
    .loading-gif {
      img {
        max-width: 100%;
      }
    }
    .loading-text {
      margin-top: 10px;
      text-align: center;
      .text1 {
        font-size: 24px;
        font-weight: bold;
        color: #373737;
        margin-bottom: 10px;
      }
      .text2 {
        font-size: 16px;
        font-weight: normal;
      }
    }
  }
}

.container-toast-message {
  max-width: 600px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 60px;
  margin: 0 auto;
  z-index: 200;
  .toast-message {
    width: calc(100% - 30px);
    margin: 0 auto;
    .col-12 {
      display: table;
    }
    .icon-notification {
      width: 45px;
      font-size: 33px;
      text-align: center;
      padding: 15px 0;
      vertical-align: middle;
      display: table-cell;
    }
    .icon-close {
      width: 45px;
      display: table-cell;
      font-size: 18px;
      text-align: center;
      padding: 15px 0;
      vertical-align: middle;
    }
    .toast-message-text {
      width: 100%;
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.45;
      padding: 15px 10px 15px 10px;
    }

    &.white {
      border-radius: 5px;
      box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.14);
      background-color: #ffffff;
      border-right: 10px solid #ffd72e;

      .icon-notification {
        color: #ffd72e;
      }
      .icon-close {
        color: #d8d8d8;
        border-right: 1px solid #e9e7e7;
      }
      .toast-message-text {
        color: #6c6c6c;
      }
    }

    &.orange {
      border-radius: 5px;
      box-shadow: 0 0 21px 0 rgba(0, 0, 0, 0.14);
      background-color: #ffd72e;

      .icon-notification {
        color: #000000;
      }
      .icon-close {
        color: #000000;
        border-right: 1px solid #ffffff;
      }
      .toast-message-text {
        color: #000000;
      }
    }
  }
}

.container-transaction {
  margin: 30px 0;

  .transaction-wrapper {
    border-radius: 3px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }

  .transaction-status {
    text-align: center;
    height: 100%;
    display: table;
    width: 100%;
    padding: 30px 0;
    &.danger {
      background-color: #d9534f;
    }
    &.warning {
      background-color: #ffbd36;
    }
    &.success {
      background-color: #25c975;
    }

    .status-data {
      display: table-cell;
      vertical-align: middle;
      .status-img {
        max-width: 80px;
        margin-bottom: 15px;
      }
      .status-title {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
      }
    }
  }

  .transaction-result-content {
    padding: 35px 25px;
    @media (max-width: 991px) {
      padding: 35px 15px;
    }
    .result-content-subtitle {
      font-size: 18px;
      font-weight: bold;

      @media (max-width: 991px) {
        text-align: center;
      }

      &.danger {
        color: #d9534f;
      }
      &.warning {
        color: #ffbd36;
      }
      &.success {
        color: #25c975;
      }
    }
    .result-content-title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 30px;

      @media (max-width: 991px) {
        text-align: center;
      }

      &.danger {
        color: #d9534f;
      }
      &.warning {
        color: #ffbd36;
      }
      &.success {
        color: #25c975;
      }
    }
    .result-content-text {
      font-size: 14px;
      font-weight: normal;
      color: #373737;
      line-height: 1.9;
      span {
        font-weight: bold;
      }
    }
    .btn-outline-light {
      color: #7e7e7e;
      font-weight: bold;
      margin-top: 15px;
      font-size: 13px;
    }
    .btn-danger {
      font-weight: bold;
      margin-top: 15px;
      font-size: 13px;
    }
    .btn-success {
      font-weight: bold;
      margin-top: 15px;
      font-size: 13px;
    }
    .btn-primary {
      font-weight: bold;
      margin-top: 15px;
      font-size: 13px;
    }

    .rate-application {
      margin-top: 57px;
      .title {
        color: #7e7e7e;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        padding: 0;
      }
      .btn-outline-light {
        font-weight: normal;
        position: relative;
        text-align: left;
        padding-left: 30px;
        @media (min-width: 768px) AND (max-width: 991px) {
          width: 29%;
        }
        @media (min-width: 992px) AND (max-width: 1200px) {
          width: 33%;
        }
        @media (min-width: 1200px) {
          width: 29%;
        }
        img {
          position: absolute;
          top: 3px;
          margin-right: 5px;
          margin-left: 5px;
        }
      }
    }

  }

  .transaction-info-wrapper {
    padding: 30px 0;
    @media (max-width: 991px) {
      padding: 0 15px 15px 15px;
    }
  }

  .transaction-info-detail {
    margin-bottom: 18px;
    .detail-text {
      display: block;
      font-size: 12px;
      color: #7e7e7e;
      margin-left: 38px;

      div {
        display: inline-block;
      }

      @media (max-width: 991px) {
        font-size: 12px;
        margin: 0 0 10px 0;
      }

      .icon {
        font-size: 20px;
        color: #7e7e7e;
        margin-left: 5px;
        position: relative;
        top: 5px;
        @media (max-width: 991px) {
          font-size: 16px;
          top: 3px;
        }
      }
    }
  }

  .transaction-info-money-paid {
    border: 1px solid #eeeeee;
    border-right: none;
    border-left: none;
    margin-left: 20px;
    padding: 10px 0;
    @media (max-width: 991px) {
      margin-left: 0;
    }
    .money-paid-title {
      font-size: 14px;
      font-weight: normal;
      color: #848484;
    }
    .money-paid-price {
      font-size: 16px;
      font-weight: normal;
      color: #f8a125;
    }
  }

  .transaction-info-detail-paid {
    padding-left: 20px;
    @media (max-width: 991px) {
      padding-left: 0;
    }
    .detail-paid-title {
      font-size: 12px;
      font-weight: bold;
      color: #7e7e7e;
      margin: 25px 0 20px 0;
    }
    ul.detail-paid-list {
      padding: 0 20px 0 0;

      li {
        font-size: 14px;
        font-weight: normal;
        color: #ffbe00;
        margin-bottom: 12px;
        span {
          font-size: 13px;
          color: #7e7e7e;
        }
      }
    }
    .btn-warning {
      font-weight: bold;
      font-size: 13px;
    }
  }

}
