<section class="hero is-fullheight [ c-auth ]">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-4 [ c-auth__box m-animate ]">
                    <div class="[ m-animate__container ]">
                        <login ng-if="login"></login>
                        <signup ng-if="!login"></signup>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
