<div class="background-modal red"></div>

<div class="container-modal">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="modal-content-wrapper">
                    <div class="modal-align-middle">

                        <div class="modal-contents">

                            <div class="modal-content-header">
                                <button class="btn-modal-close"><span class="icon icon-close"></span></button>
                            </div>

                            <div class="modal-content-body">
                                <h2 class="body-title">خطا در اتصال به اینترنت</h2>
                                <div class="text-center">
                                    <img src="../image/wifi-small.gif" alt="" class="modal-img">
                                </div>
                                <div class="body-text">
                                    برای استفاده از خدمات نیازمند اتصال به اینترنت هستید،
                                    وضعیت اینترنت را بررسی و مجددا تلاش کنید
                                </div>
                            </div>
                            <div class="modal-content-footer">
                                <div class="row">
                                    <div class="col-8 offset-2">
                                        <button class="btn btn-outline-light w-100">تلاش مجدد</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>