<loading visible='isViewLoading'></loading>
<div class="background-modal blue"></div>

<div class="container-modal">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="modal-content-wrapper">
                    <div class="modal-align-middle">

                        <div class="modal-contents">

                            <div class="modal-content-header">
                                <a ng-href='#!/service/order/{{serviceId}}' class="btn-modal-close"><span class="icon icon-close"></span></a>
                            </div>

                            <div class="modal-content-body">
                                <h2 class="body-title">شماره مورد نظر خود را انتخاب نمایید</h2>
                                <div class="body-contact-list">
                                    <ul class="list-ul">
                                        <li ng-repeat='mobileNumber in mobileNumberList'>
                                            <a ng-href='#!/service/order/{{serviceId}}/{{mobileNumber}}'>
                                                {{mobileNumber}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="modal-content-footer">
                                <div class="row">
                                    <div class="col-7">
                                        <a ng-href='#!/customKeyboard/{{serviceId}}' class="btn btn-primary w-100" role="button">افزودن شماره جدید</a>
                                    </div>
                                    <div class="col-5">
                                        <a ng-href='#!/service/order/{{serviceId}}' class="btn btn-outline-light w-100" role="button">انصراف</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
