<toast visible='showToast' message='{{toastMessageText}}'></toast>
<loading visible='isViewLoading'></loading>
<div class="background-modal green"></div>

<div class="container-modal">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="modal-content-wrapper with-keyboard-layout">
                    <div class="modal-align-middle">

                        <div class="modal-contents">

                            <div class="modal-content-header">
                                <button ng-click='close()' class="btn-modal-close"><span class="icon icon-close"></span></button>
                            </div>

                            <div class="modal-content-body">
                                <div class="text-center">
                                    <img src="../image/add-phone.png" alt="" class="modal-img">
                                </div>
                                <h2 class="body-title">شماره تلفن مورد نظر را در کادر زیر وارد نمایید</h2>
                                <div class="form-control text-center">
                                    {{mobileNumber}}
                                </div>
                            </div>

                            <div class="modal-content-footer">
                                <div class="row">
                                    <div class="col-6">
                                        <button ng-click='done()' class="btn btn-success w-100">ثبت</button>
                                    </div>
                                    <div class="col-6">
                                        <button ng-click='close()' class="btn btn-outline-light w-100">انصراف</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>


                <div class="keyboard-layout">
                    <div class="row no-gutters">

                        <div class="col-4">
                            <button ng-click='keyPress("3")' class="layout-key">3</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("2")' class="layout-key">2</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("1")' class="layout-key">1</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("6")' class="layout-key">6</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("5")' class="layout-key">5</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("4")' class="layout-key">4</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("9")' class="layout-key">9</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("8")' class="layout-key">8</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("7")' class="layout-key">7</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='backSpace()' class="layout-key"><span class="icon icon-cancel"></span></button>
                        </div>

                        <div class="col-4">
                            <button ng-click='keyPress("0")' class="layout-key">0</button>
                        </div>

                        <div class="col-4">
                            <button ng-click='closeKeyboard()' class="layout-key"><span class="icon icon-success"></span></button>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
