<loading visible='isViewLoading'></loading>
<div class="background-modal green"></div>

<div class="container-modal" >
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="modal-content-wrapper" style='height:auto;' >
                    <div class="modal-align-middle">

                        <div class="modal-contents">

                            <div class="modal-content-header">
                                <a role="button" ng-href='#!/service/list' class="btn-modal-close"><span class="icon icon-close"></span></a>
                            </div>

                            <div class="modal-content-body">
                                <h2 class="body-title">جستجوی پیشرفته</h2>

                                <div class="body-filter" id='divOperator'>
                                    <div class="filter-header" data-tab-id="1" >
                                        <span class="filter-show">−</span>
                                        <span class="header-title">اپراتور</span>
                                    </div>
                                    <div class="filter-content" data-tab-id="1">
                                        <div class="row align-items-center no-gutters">

                                            <div class="col-4 p-1" ng-repeat='operator in operatorList()' ng-click='filterOperator(operator)'>
                                                <div class="content-operator">
                                                    <div class="operator-img">
                                                        <img ng-src='{{getOperatorImage(operator)}}' alt=""
                                                             ng-class='{{filterObject.operator._id.toString()==operator._id.toString() ? "selected" : "no-select"}}'>
                                                    </div>
                                                    <div class="operator-title">
                                                        {{operator.persianTitle}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="body-filter" id='divType'>
                                    <div class="filter-header" data-tab-id="2" >
                                      <span class="filter-show" ng-if='filterObject.operator'>+</span>
                                      <span class="filter-show" ng-if='!filterObject.operator'>−</span>
                                        <span class="header-title">نوع شارژ</span>
                                    </div>
                                    <div class="filter-content" data-tab-id="2" ng-if='filterObject.operator'>
                                        <div class="row align-items-center no-gutters">
                                            <div class="col-5 p-1 offset-1" ng-repeat='serviceType in filteredServiceTypeList()' ng-click='filterServiceType(serviceType)'>
                                                <div class="content-type-charge">
                                                    <div class="type-charge-icon">
                                                        <span ng-class="getServiceTypeClass(serviceType)"></span>
                                                    </div>
                                                    <div class="type-charge-title">
                                                        {{getServiceTypeTitle(serviceType)}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="body-filter"  id='divSimType'>
                                    <div class="filter-header" data-tab-id="3">
                                      <span class="filter-show" ng-if='filterObject.serviceType'>+</span>
                                      <span class="filter-show" ng-if='!filterObject.serviceType'>−</span>
                                      <span class="header-title">نوع سیمکارت</span>
                                    </div>
                                    <div class="filter-content" data-tab-id="3" ng-if='filterObject.serviceType'>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="filter-checkbox">
                                                    <div class="checkbox-label no-border" ng-repeat='simType in filteredSimTypeList()' ng-click='filterSimType(simType)'>
                                                        <input type="radio" class="checkbox-input" ng-checked="simType._id.toString()==filterObject.simType._id.toString()">
                                                        <label class="checkbox-title" for="permanent" >
                                                            {{simType.title}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="body-filter"  id='divDuration'>
                                    <div class="filter-header" data-tab-id="4" >
                                        <span class="filter-show" ng-if='filterObject.simType'>+</span>
                                        <span class="filter-show" ng-if='!filterObject.simType'>−</span>
                                        <span class="header-title">مدت اعتبار</span>
                                    </div>
                                    <div class="filter-content" data-tab-id="4" ng-if='filterObject.simType'>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="filter-checkbox">
                                                    <div class="checkbox-label">
                                                        <input type="checkbox" class="checkbox-input" id="all" ng-click='filterAllDuration()' ng-model='filterAllDurationModel'>
                                                        <label class="checkbox-title" for="all">انتخاب همه</label>
                                                    </div>

                                                    <div class="checkbox-label" ng-repeat='duration in filteredDurationList()' ng-click='filterDuration(duration)'>
                                                        <input type="checkbox" class="checkbox-input" ng-checked='isCheckedDuration(duration)'>
                                                        <label class="checkbox-title">
                                                            {{duration.title}}
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="modal-content-footer">
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-success w-100" ng-click='filterAndClose()'>جستجو کن</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
