<div class="container-loading">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="loading-content">
                    <div class="loading-gif">
                        <img src="../image/loader-small.gif" alt="">
                    </div>
                    <div class="loading-text">
                        <div class="text1">در حال انتقال به بانک</div>
                        <div class="text2">لطفا شکیبا باشید</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>