<toast visible='showToast' message='{{toastMessageText}}'></toast>
<div class="container-filter">
  <loading visible='isViewLoading'></loading>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a ng-href='#!/filter' class="btn btn-light" role="button">
                      یافتن بسته مناسب من
                    <span class="icon icon-filter"></span>
                </a>
            </div>
            <div class="col-6 text-left">
                <a ng-href='#!/service/list' class="btn btn-outline-light" role="button">
                    بازگشت
                    <span class="icon icon-left-arrow"></span>
                </a>
            </div>
        </div>
    </div>
</div>



<div class="container-order-service">
    <div class="container">

        <div class="row no-gutters align-items-center order-service-content">
            <div class="col-12">
                <div class="order-service-package-name">
                    {{service.title}}
                </div>
                <div class="order-service-detail text-right">
                  <div class="detail-text">
                      <span class="icon icon-pair-of-bills"></span>
                      <div>
                        {{service.operator.persianTitle}}
                      </div>
                  </div>
                    <div class="detail-text"><span class="icon icon-sim-card"></span>
                      {{service.simType.title}}
                    </div>
                    <div class="detail-text"><span class="icon icon-calendar-page-empty"></span>
                      {{service.duration.title}}
                    </div>

                    <div class="detail-text">
                        <span class="icon icon-pair-of-bills"></span>
                        <div>
                          ۹% مالیات بر ارزش افزوده
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="order-service-desc">
                    {{service | describeService}}
                </p>
            </div>
            <!-- <div class="col-12">
                <a href="#" title="" class="order-service-invitation-code">کد معرف دارید؟</a>
            </div> -->
            <div class="col-12">
                <hr>
            </div>
            <div class="col-12">
                <span class="order-service-price">
                  {{service.vatPrice | currency}}
                </span>
                <!-- <span class="order-service-currency">ریال</span> -->
            </div>
        </div>

        <div class="row no-gutters align-items-center order-service-phone-number">
            <div class="col-12">
                <a ng-click='changeMobileNumber()' class="phone-number">
                    {{mobileNumber}}
                </a>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-12">
                <button ng-click='confirmOrder()' class="btn btn-success col-12 order-service-buy">
                    خرید آنلاین
                </button>
            </div>
        </div>

    </div>
</div>
