<div class="container-toast-message">
    <div class="toast-message white">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="icon icon-notification"></div>
                <div class="toast-message-text">
                    این بسته مخصوص سیم کارت اعتباری میباشد و اعتبار آن به صورت ساعتی است.
                </div>
                <div class="icon icon-close"></div>
            </div>
        </div>
    </div>
</div>


<!--Orange Toast --------------------------------------- -->

<!--<div class="container-toast-message">
    <div class="toast-message orange">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="icon icon-notification"></div>
                <div class="toast-message-text">
                    این بسته مخصوص سیم کارت اعتباری میباشد و اعتبار آن به صورت ساعتی است.
                </div>
                <div class="icon icon-close"></div>
            </div>
        </div>
    </div>
</div>-->
