<!-- -------------DANGER------------ -->

<div class="container-transaction">
    <div class="container">
        <div class="row transaction-wrapper no-gutters">

            <div class="col-12 col-lg-4">
                <div class="transaction-status danger">
                    <div class="status-data">
                        <img src="../image/danger.png" alt="" class="status-img">
                        <h3 class="status-title ">فعال سازی ناموفق</h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div class="transaction-result-content">
                    <h6 class="result-content-subtitle danger">درخواست شما</h6>
                    <h5 class="result-content-title danger">با خطا مواجه شد</h5>
                    <p class="result-content-text">
                        متاسفانه در روند ارایه خدمات خطا رخ داده است.
                    </p>
                    <p class="result-content-text">
                        جهت انجام برگشت مبلغ واریزی - شماره کارت ۱۶ رقمی خود را به صورت صحیح وارد کنید.
                    </p>
                    <div>
                        <button class="btn btn-outline-light col-12 col-md-7">درخواست پشتیبانی</button>
                    </div>
                    <div>
                        <button class="btn btn-danger col-12 col-md-7">ثبت شماره کارت</button>
                    </div>
                    <div>
                        <button class="btn btn-success col-12 col-md-7">ذخیره اطلاعات و دریافت هدیه</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="transaction-info-wrapper">

                    <div class="transaction-info-detail text-right">
                        <div class="detail-text">
                            <span class="icon icon-sim-card"></span>
                            <div>
                                نوع سیم کارت: اعتباری
                            </div>
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-calendar-page-empty"></span>
                            مدت اعتبار بسته: هفتگی
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-pair-of-bills"></span>
                            <div>
                                قیمت بسته: ۴/۰۰۰ تومان
                            </div>
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-pair-of-bills"></span>
                            <div>
                                مالیات بر ارزش افزوده: ۱/۶۲۰ تومان
                            </div>
                        </div>
                    </div>

                    <div class="transaction-info-money-paid">
                        <span class="money-paid-title">هزینه پرداخت شده:</span>
                        <span class="money-paid-price">۵/۶۲۰ تومان</span>
                    </div>

                    <div class="transaction-info-detail-paid">
                        <h4 class="detail-paid-title">سفارش شما با جزییات زیر قابل پیگیری است:</h4>
                        <ul class="detail-paid-list">
                            <li><span>شماره سفارش: ۱۴۳۸۴</span></li>
                            <li><span>کد پیگیری: ۱۵۹۱۷۰</span></li>
                            <li><span>کد ارجاع: ۲۵۹۷۳۱۵۹۱۷۰</span></li>
                        </ul>
                        <button class="btn btn-warning col-12">بازگشت به لیست بسته‌ها</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- -------------NO ACCEPT PAY ------------- -->

<div class="container-transaction">
    <div class="container">
        <div class="row transaction-wrapper no-gutters">

            <div class="col-12 col-lg-4">
                <div class="transaction-status danger">
                    <div class="status-data">
                        <img src="../image/no-accept-pay.png" alt="" class="status-img">
                        <h3 class="status-title ">پرداخت تایید نشده</h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div class="transaction-result-content">
                    <h6 class="result-content-subtitle danger">پرداخت شما</h6>
                    <h5 class="result-content-title danger">توسط بانک تایید نشد!</h5>
                    <p class="result-content-text">
                        پرداخت شما مورد تایید بانک نبوده و
                        <span>بسته ۲۰۰ مگابایتی</span>
                        بر روی شماره ی
                        <span>۰۹۰۱۱۲۳۱۲۳۶</span>
                        فعال نشده است.
                    </p>
                    <p class="result-content-text">
                        در صورتی که مبلغی از حساب شما کسر شده است  - حداکثر تا ۴۸ ساعت به حساب شما برگشت داده می‌شود.
                    </p>
                    <div>
                        <button class="btn btn-danger col-12 col-md-7">خرید از طریق USSD</button>
                    </div>
                    <div>
                        <button class="btn btn-success col-12 col-md-7">ذخیره اطلاعات و دریافت هدیه</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="transaction-info-wrapper">

                    <div class="transaction-info-detail text-right">
                        <div class="detail-text">
                            <span class="icon icon-sim-card"></span>
                            <div>
                                نوع سیم کارت: اعتباری
                            </div>
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-calendar-page-empty"></span>
                            مدت اعتبار بسته: هفتگی
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-pair-of-bills"></span>
                            <div>
                                قیمت بسته: ۴/۰۰۰ تومان
                            </div>
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-pair-of-bills"></span>
                            <div>
                                مالیات بر ارزش افزوده: ۱/۶۲۰ تومان
                            </div>
                        </div>
                    </div>

                    <div class="transaction-info-money-paid">
                        <span class="money-paid-title">هزینه پرداخت شده:</span>
                        <span class="money-paid-price">۵/۶۲۰ تومان</span>
                    </div>

                    <div class="transaction-info-detail-paid">
                        <h4 class="detail-paid-title">سفارش شما با جزییات زیر قابل پیگیری است:</h4>
                        <ul class="detail-paid-list">
                            <li><span>شماره سفارش: ۱۴۳۸۴</span></li>
                            <li><span>کد پیگیری: ۱۵۹۱۷۰</span></li>
                            <li><span>کد ارجاع: ۲۵۹۷۳۱۵۹۱۷۰</span></li>
                        </ul>
                        <button class="btn btn-warning col-12">بازگشت به لیست بسته‌ها</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- -------------REVERT PAYMENT ------------- -->

<div class="container-transaction">
    <div class="container">
        <div class="row transaction-wrapper no-gutters">

            <div class="col-12 col-lg-4">
                <div class="transaction-status warning">
                    <div class="status-data">
                        <img src="../image/revert-payment.png" alt="" class="status-img">
                        <h3 class="status-title ">بازپرداخت شده</h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div class="transaction-result-content">
                    <h6 class="result-content-subtitle warning">پرداخت شما</h6>
                    <h5 class="result-content-title warning">توسط بانک برگشت داده شد!</h5>
                    <p class="result-content-text">
                        در صورتی که مبلغی از حساب شما کسر شده است - حداکثر تا ۴۸ ساعت به حساب شما برگشت داده می‌شود.
                    </p>
                    <p class="result-content-text">
                        این مشکل اغلب به دلیل مناسب نبودن نوع سیم کارت با نوع سرویس
                        انتخابی در زمان خرید می‌باشد.
                    </p>
                    <div>
                        <button class="btn btn-success col-12 col-md-7">ذخیره اطلاعات و دریافت هدیه</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="transaction-info-wrapper">

                    <div class="transaction-info-detail text-right">
                        <div class="detail-text">
                            <span class="icon icon-sim-card"></span>
                            <div>
                                نوع سیم کارت: اعتباری
                            </div>
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-calendar-page-empty"></span>
                            مدت اعتبار بسته: هفتگی
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-pair-of-bills"></span>
                            <div>
                                قیمت بسته: ۴/۰۰۰ تومان
                            </div>
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-pair-of-bills"></span>
                            <div>
                                مالیات بر ارزش افزوده: ۱/۶۲۰ تومان
                            </div>
                        </div>
                    </div>

                    <div class="transaction-info-money-paid">
                        <span class="money-paid-title">هزینه پرداخت شده:</span>
                        <span class="money-paid-price">۵/۶۲۰ تومان</span>
                    </div>

                    <div class="transaction-info-detail-paid">
                        <h4 class="detail-paid-title">سفارش شما با جزییات زیر قابل پیگیری است:</h4>
                        <ul class="detail-paid-list">
                            <li><span>شماره سفارش: ۱۴۳۸۴</span></li>
                            <li><span>کد پیگیری: ۱۵۹۱۷۰</span></li>
                            <li><span>کد ارجاع: ۲۵۹۷۳۱۵۹۱۷۰</span></li>
                        </ul>
                        <button class="btn btn-warning col-12">بازگشت به لیست بسته‌ها</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- -------------SUCCESS--------------------- -->

<div class="container-transaction">
    <div class="container">
        <div class="row transaction-wrapper no-gutters">

            <div class="col-12 col-lg-4">
                <div class="transaction-status success">
                    <div class="status-data">
                        <img src="../image/success-pay.png" alt="" class="status-img">
                        <h3 class="status-title ">فعال‌سازی موفق</h3>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-5">
                <div class="transaction-result-content">
                    <h6 class="result-content-subtitle success">درخواست شما</h6>
                    <h5 class="result-content-title success">با موفقیت انجام شد!</h5>
                    <p class="result-content-text">
                        بسته‌ی
                        <span>۲۰۰ مگابایتی هفتگی (۱۰۰MB + ۱۰۰MB)</span>
                    </p>
                    <p class="result-content-text">
                        با درخواست شما بر روی شماره
                        <span>۰۹۰۱۳۳۴۴۳۴۳۴</span>
                        با موفقیت فعال شد.
                    </p>
                    <div>
                        <button class="btn btn-success col-12 col-md-7">ذخیره اطلاعات و دریافت هدیه</button>
                    </div>
                    <div>
                        <button class="btn btn-primary col-12 col-md-7">معرفی به دوستان</button>
                    </div>
                    <div class="rate-application">
                        <h6 class="title">امتیاز به برنامه:</h6>
                        <button class="btn btn-outline-light col-5">
                            GooglePlay
                            <img src="../image/android.png" alt="">
                        </button>
                        <button class="btn btn-outline-light col-5">
                            AppStore
                            <img src="../image/apple.png" alt="">
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3">
                <div class="transaction-info-wrapper">

                    <div class="transaction-info-detail text-right">
                        <div class="detail-text">
                            <span class="icon icon-sim-card"></span>
                            <div>
                                نوع سیم کارت: اعتباری
                            </div>
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-calendar-page-empty"></span>
                            مدت اعتبار بسته: هفتگی
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-pair-of-bills"></span>
                            <div>
                                قیمت بسته: ۴/۰۰۰ تومان
                            </div>
                        </div>
                        <div class="detail-text">
                            <span class="icon icon-pair-of-bills"></span>
                            <div>
                                مالیات بر ارزش افزوده: ۱/۶۲۰ تومان
                            </div>
                        </div>
                    </div>

                    <div class="transaction-info-money-paid">
                        <span class="money-paid-title">هزینه پرداخت شده:</span>
                        <span class="money-paid-price">۵/۶۲۰ تومان</span>
                    </div>

                    <div class="transaction-info-detail-paid">
                        <h4 class="detail-paid-title">سفارش شما با جزییات زیر قابل پیگیری است:</h4>
                        <ul class="detail-paid-list">
                            <li><span>شماره سفارش: ۱۴۳۸۴</span></li>
                            <li><span>کد پیگیری: ۱۵۹۱۷۰</span></li>
                            <li><span>کد ارجاع: ۲۵۹۷۳۱۵۹۱۷۰</span></li>
                        </ul>
                        <button class="btn btn-warning col-12">بازگشت به لیست بسته‌ها</button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>