.m-animate {
    position: relative;

    &__container {
        &.ng-animate {
            transition: all ease 0.4s;
            position: absolute;
        }

        &.ng-enter {
            top: 200px;
            opacity: 0;
        }

        &.ng-leave,
        &.ng-enter.ng-enter-active {
            top: 0;
            opacity: 1;
        }

        &.ng-leave.ng-leave-active {
            top: -200px;
            opacity: 0;
        }
    }
}