toast {
    position: absolute;
    top: 40px;
    right: 30px;
    min-width: 350px;
    border-radius: 5px;

    @include breakpoint(xs) {
        top: 15px;
        right: 15px;
        left: 15px;
    }
}

.m-toast {
    $parent: &;

    &__box {
        padding: 25px;
        background-color: #fff;
        border-radius: 5px;
        border-right: 5px solid transparent;
        position: relative;
        @include shadow();


        &.is-success {
            border-right-color: $color-success;

            #{$parent}__icon {
                color: $color-success;
            }
        }

        &.is-error {
            border-right-color: $color-error;

            #{$parent}__icon {
                color: $color-error;
            }
        }

        &.is-warning {
            border-right-color: $color-warning;

            #{$parent}__icon {
                color: $color-warning;
            }
        }

        &.is-focus {
            border-right-color: $color-focus;

            #{$parent}__icon {
                color: $color-focus;
            }
        }
    }

    &__icon {
        display: inline-block;
        padding-left: 10px;
        font-size: 20px;
        position: relative;
        top: 3px;
        color: #fff;
    }

    &__msg {
        display: inline-block;
        margin: 0;
    }

    &__close {
        position: absolute;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.25);
        padding: 5px;
        top: 28px;
        left: 25px;
        right: auto;
        cursor: pointer;
    }
}