<section class="[ c-header ]">
    <div class="[ container ]">
        <div class="row between-xs middle-xs">
            <div class="col-xs-4">
                <img src="images/logo.png" alt="">
            </div>
            <div class="col-xs-6 [ is-align-left c-header__menu ]">
                <button class="button is-tertiary is-icon"><span class="far fa-bell"></span></button>
                <button class="button is-tertiary">
                    <span class="far fa-user-circle [ is-profile-icon ]"></span>
                    محمد سعید فرج نظام
                    <span class="fas fa-chevron-down [ is-caret ]"></span>
                </button>
            </div>
        </div>
    </div>
</section>