<link
  rel="stylesheet"
  href="components/share/logo/logo.css"
>

<logo class="[ is-block ] m-b-40"></logo>
<form action="" class="[ m-form ]">
    <h3 class="[ m-form__title ]">ورود به حساب کاربری</h3>

    <div class="form-item">
        <label>نام کاربری</label>
        <input class="" type="text" ng-model="$ctrl.user.email">
    </div>

    <div class="form-item">
        <label>رمز عبور</label>
        <input class="" type="password" ng-model="$ctrl.user.password">
        <div class="[ m-form__desc-link ]">
            <a class="button is-tertiary" href="">فراموشی رمز عبور</a>
        </div>
    </div>

    <div class="[ m-form__bottom-bar ]">
        <div class="row between-xs">
            <div class="col-xs-5">
                <button class="button is-100" ng-click="$ctrl.login()">ورود</button>
                {{$ctrl.token}}
            </div>
            <div class="col-xs-6 [ is-align-left ]">
                <span>عضو نیستید؟</span>
                <a class="[ m-form__button-in-text ]" ng-href="/#!/signup">ثبت نام</a>
            </div>
        </div>
    </div>
</form>
