//----------------------------------------
// UTIL/MIXIN/BACKGROUND
//----------------------------------------

// ::IMAGE % bg- 
@mixin bg-img($url, $size: cover, $attach: inherit) {
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: $size;
    background-attachment: $attach;
}

// ::PATTERN % bg-
@mixin bg-pattern($url) {
    background-image: url($url);
    background-repeat: repeat;
}
