<link
  rel="stylesheet"
  href="components/share/footer/footer.css"
>
<section class="[ c-footer ]">
    <div class="[ container ]">
        <div class="row between-xs middle-xs">
            <div class="col-xs-6">
                <p>1398 | <a href="">بفروشیم</a> پلتفرم پرداخت یار؛ مدیریت و تجمیع درگاه های بانکی</p>
            </div>
            <div class="col-xs-6 [ is-align-left ]">
                <ul class="[ c-footer__menu ]">
                    <li>
                        <a ng-href='#!/userGateway/list/{{$ctrl.token}}'>
                            فروشگاه ساز انلاین
                        </a>
                    </li>
                    <li>
                        <a ng-href='#!/userGateway/list/{{$ctrl.token}}'>
                            مدیریت پرداخت
                        </a>
                    </li>
                    <li>
                        <a ng-href='#!/payment/list/{{$ctrl.token}}'>
                            مدیریت فروشگاه فیزیکی
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
