<link
  rel="stylesheet"
  href="components/userGateway/userGatewayListItem/userGatewayListItem.css"
>
<a ng-href='#!/service/order/{{$ctrl.gateway._id}}' title="" class="row no-gutters align-items-center service-list-item">
  <div class='row'>
    <div class="col-1">
    </div>
    <div class="col-1">
      <gatewaylogo
          abbriviation='$ctrl.usergateway.gateway.abbriviation'
      >
      </gatewaylogo>
    </div>
    <div class="col-3">
      <span>فروشگاه</span>
      <label>
        {{$ctrl.usergateway.website}}
      </label>
    </div>
    <div class="col-3">
      <span>وضعیت</span>
      <label>
        {{$ctrl.usergateway.status}}
      </label>
    </div>
    <div class="col-3">
      <ul>
        <li>
          <a
            ng-href='$ctrl.usergateway.gateway.website'
          >
          مدیریت پرداخت
          </a>
        </li>
        <li>
          ویرایش
        </li>
        <li>
          حذف
        </li>
      </ul>
    </div>
  </div>
</a>
