<div class="container-service-list">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="service-list-wrapper">
                  <div>
                    <div>
                      englishTitle:
                      <input type='text' ng-model='$ctrl.gateway.englishTitle'/>
                    </div>
                    <div>
                      persianTitle:
                      <input type='text' ng-model='$ctrl.gateway.persianTitle'/>
                    </div>
                    <div>
                      abbriviation:
                      <input type='text' ng-model='$ctrl.gateway.abbriviation'/>
                    </div>
                    <div>
                      logoPath:
                      <input type='text' ng-model='$ctrl.gateway.logoPath'/>
                    </div>
                    <div>
                      website:
                      <input type='text' ng-model='$ctrl.gateway.website'/>
                    </div>
                    <div>
                      bussinesPersonContact:
                      <input type='text' ng-model='$ctrl.gateway.bussinesPersonContact'/>
                    </div>
                    <div>
                      developmentPersonContact:
                      <input type='text' ng-model='$ctrl.gateway.developmentPersonContact'/>
                    </div>
                    <div>
                      credentialList:
                      <input type='text' ng-model='$ctrl.gateway.credentialList'/>
                    </div>

                    <div>
                      <button ng-click='$ctrl.save()'>ذخیره</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
